@import "/src/sass/constructorNew";

.center {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.flex {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

button {
  border-radius: 40px;
  background-color: var(--color-active)
}

::ng-deep .dark-theme .mat-raised-button {
  background-color: var(--color-active)
}