@import "/src/sass/constructorNew";


.flex {
  position:fixed;
  height: 56px;
/*   width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;

}
button {
  border-radius: 40px;
  background-color: var(--color-active)
}

::ng-deep .dark-theme .mat-raised-button {
  background-color: var(--color-active)
}