<div class="gen-menu-margin"></div>
<div class="gen-menu-padding">
  <div class="gen-menu-title gen-menu-font">
    <div class="font">{{ text.administrator }}</div>
  </div>
</div>
<div class="gen-menu-padding">
  <div
  class="gen-menu gen-menu-font"
  routerLinkActive="gen-menu-active"
    *ngFor="
      let permission of i.data.local.permission.adm;
      let in = index;
      let first;
      let last
    "
    [routerLink]="[permission.id]"
    [queryParams]="{ sub: permission.documentSub }"
  >
    <mat-icon class="gen-menu-item-left">panorama_fish_eye</mat-icon>
    <div class="gen-menu-font">
      {{ i.data.local.model[permission.id].text[i.data.language].label }} / {{ permission.documentSub }}
    </div>
    <mat-icon class="gen-menu-item-right">chevron_right</mat-icon>
  </div>
</div>