@import "./construtor";

// NUNCA usa margem na direita ou esquerda devido a RECURSIVIDADE.

@mixin criar-tamanho(
  $direita: false,
  $esquerda: false,
  $meio: false,
  $divisor: 1,
  $multiplicador: 1
) {
  /* @extend %flex-linha; */
  // display: flex;
  flex-direction: row;
  width: (100% / $divisor) * ($multiplicador);
  min-width: 100px;
  /* min-width: (330px /$divisor) * ($multiplicador); */
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  align-items: center;

  @if $esquerda {
    padding-left: 0px;
    padding-right: 8px;
  }
  @if $direita {
    padding-left: 8px;
    padding-right: 0px;
  }
  @if $meio {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (max-width: 351px) {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  & > audio {
    width: 100%;
    margin-bottom: 8px;
  }

  & > button {
    margin-left: 8px;
    margin-bottom: 8px;
  }

  & > mat-icon {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  & > mat-form-field,
  app-lista {
    width: 100%;
  }

  & > app-input {
    width: 100%;
    min-width: 10px;
    max-width: 100%;
  }
}
@mixin formulario() {
  &-total {
    @include criar-tamanho($divisor: 1);
  }

  &-metade-esquerda {
    @include criar-tamanho($esquerda: true, $divisor: 2);
  }

  &-metade-direita {
    @include criar-tamanho($direita: true, $divisor: 2);
  }

  &-1-esquerda {
    @include criar-tamanho($esquerda: true, $divisor: 3);
  }

  &-1-meio {
    @include criar-tamanho($meio: true, $divisor: 3);
  }

  &-1-direita {
    @include criar-tamanho($direita: true, $divisor: 3);
  }

  &-2-direita {
    @include criar-tamanho($direita: true, $divisor: 3, $multiplicador: 2);
  }

  &-2-esquerda {
    @include criar-tamanho($esquerda: true, $divisor: 3, $multiplicador: 2);
  }
}
