@use '@angular/material' as mat; // https://material.angular.io/guide/theming

@include mat.core();

$angular-13-primary: mat.define-palette(mat.$pink-palette); // https://material.io/design/color/
$angular-13-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-13-warn: mat.define-palette(mat.$red-palette);
$angular-13-theme: mat.define-dark-theme((
  color: (
    primary: $angular-13-primary,
    accent: $angular-13-accent,
    warn: $angular-13-warn,
  )
));
$pad-black-configuracao-fonte-material: mat.define-typography-config(
  $font-family: "Roboto, Arial, sans-serif",
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level(var(--font-material), 24px, 500),
);
@include mat.core($pad-black-configuracao-fonte-material);

:root {
  --font-material: 15px;
  --fonte-10: 10px;
  --fonte-12: 12px;
  --fonte-14: 14px;
  --fonte-16: 16px;
  --fonte-17: 17px;
  --fonte-20: 20px;
  --margem: 16px;
  --color-background: #0f0f0f;
  --color-primary: #9c0000;
  --color-tex-white:#{rgba(white, 0.87)};
  --color-tex-black:#{rgba(black, 0.87)};
}

@include mat.core($pad-black-configuracao-fonte-material);

@include mat.all-component-themes($angular-13-theme);


html{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
 body {
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-content: center;
  height:100vh;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Roboto","Arial", sans-serif;
  background-color: var(--color-background);
  overflow:hidden;
}
