/* @extend %flex-linha; */
/* @include flex-linha() */

/* %centerFlex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

@mixin section($width-max, $width-min, $width) {
  max-width: $width-max;
  min-width: $width-min;
  background: var(--color-surface-1);
  box-shadow: var(--color-surface-1-shadow);
  @if $width {
    width: $width-max;
    }
  @extend %scroll;

}

%margin-section {
  font-family: Roboto;
  padding-right: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
  color: var(--color-text-white);
  cursor: pointer;
}
%nav-font {
  font-family: Roboto;
  padding-right: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
  color: var(--color-text-white);
  cursor: pointer;
}

%nav-title {
  padding-left: 8px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

@mixin nav($width) {
  position: absolute;
  height: 56px;
  width: $width;
  background: var(--color-surface-2);
  box-shadow: var(--color-surface-2-shadow);
  border-radius: 18px 18px 0 0;
  z-index: 100;
}

@mixin footer($width) {

  position: fixed;
  bottom: 0px;
  margin-bottom: 0px;

  height: 56px;
  width: $width;
  background: var(--color-surface-2);
  box-shadow: var(--color-surface-2-shadow);
  border-radius: 0 0 18px 18px;
  z-index: 100;
}

%scroll {
  height: 100vh;
  width: 100vw;
  padding-top: 0px;
  padding-bottom: 190px;
  margin-left: 0;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 16px;

/*   @media (max-width: 360px) {
    overflow: hidden;

    &:hover {
      overflow: auto;
    }
  } */

  &::-webkit-scrollbar {
    width: 6px;
    background: rgba(255, 255, 255, 0.13);
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    background: rgba(255, 255, 255, 0.13);
  }

}