<ng-container [ngSwitch]="model.typeInput">

  <app-input-generec *ngSwitchCase="'input'"
  [form]="form" [model]="model" [request]="request"></app-input-generec>
  
  <app-input-generec *ngSwitchCase="'email'"
  [form]="form" [model]="model" [request]="request"></app-input-generec>
 
  <app-accept-terms *ngSwitchCase="'acceptTerms'"
  [form]="form" [model]="model" ></app-accept-terms>

  <app-boolean-toggle *ngSwitchCase="'booleanToggle'"
  [form]="form" [model]="model"></app-boolean-toggle>
  
</ng-container>

<!-- <input type="password"> -->

