<div *ngIf="loading">

  <section>
    <app-form-group 
    [form]="createForm.form" 
    [permission]="createForm.permission"
    [model]="createForm.model"
    [language]="createForm.language"
    [request]="createForm.request" 
    >
    </app-form-group>
  
    <!-- INVALID - disabled -->
    <button *ngIf="createForm.form?.valid && createForm.form?.get(['account-adm','acceptTerms'])?.value ? false: true"
    type="submit" mat-raised-button color="primary" disabled>
 <!--    <div class="processing">
      <mat-spinner class="spinner" [diameter]="20"></mat-spinner>
      <mat-label>Processing</mat-label>
    </div> -->
    
    <mat-label>Create New Account</mat-label>
  </button>
    <!-- VALID -->
    <button type="submit" mat-raised-button class="color-sucess"
    (click)="createAccount()"
      *ngIf="valid && createForm.form?.valid && createForm.form?.get(['account-adm','acceptTerms'])?.value">
      <mat-label>Create New Account</mat-label> 
    </button>
    <button type="submit" mat-raised-button class="color-sucess"
    (click)="googleAuth()"
      *ngIf="valid && createForm.form?.valid && createForm.form?.get(['account-adm','acceptTerms'])?.value">
      <mat-label>Google</mat-label> 
    </button>
  <!-- Processing -->
    <button *ngIf="processing && !sucess && createForm.form?.valid && createForm.form?.get(['account-adm','acceptTerms'])?.value"
      type="submit" mat-raised-button >
      <div class="processing">
        <mat-spinner class="spinner" [diameter]="20"></mat-spinner>
        <mat-label>Processing</mat-label>
      </div>
    </button>
     <!-- SUCESS -->
     <button type="submit" mat-raised-button class="color-sucess"
       *ngIf="sucess">
       <mat-label>Create Sucess!</mat-label> 
     </button>

  </section>

</div>