<ng-template #loading>
  {{ i.data.language == 'en'? 'Progress...': 'Carregando...'}}<br>
  <mat-progress-bar mode="query" [color]="'accent'">
  </mat-progress-bar>
</ng-template>

<div class="center">
  
  <div class="container">

    <mat-drawer-container [hasBackdrop]="false" *ngIf="i.load.menu; else loading">

      <mat-drawer #menu mode="side" [opened]="true">

        <app-menu> </app-menu>

      </mat-drawer>

      <mat-drawer-content>

        <mat-sidenav-container>

          <app-dashboard *ngIf="i.load.dashboard" class="container-colection"></app-dashboard>

          <router-outlet> </router-outlet>

        </mat-sidenav-container>

      </mat-drawer-content>

    </mat-drawer-container>
  </div>
</div>