<ng-template #loading>
  <div class="gen-centerFlex">{{ i.data.language == 'en'? 'Progress...': 'Carregando...'}}</div>
  <div class="gen-centerFlex"><mat-spinner class="gen-centerFlex"></mat-spinner></div>
</ng-template>

<div class="center" *ngIf="i.load.interface; else loading">
  
  <div class="container">

    <mat-drawer-container [hasBackdrop]="i.view.phone" >

      <mat-drawer #menu mode="side" [opened]="true">

        <app-menu> </app-menu>

      </mat-drawer>

      <mat-drawer-content>

        <mat-sidenav-container>

          <router-outlet> </router-outlet>

        </mat-sidenav-container>

      </mat-drawer-content>

    </mat-drawer-container>

  </div>
  
</div>
