section {
  padding-left: 12px ;
  padding-right: 10px ;
}
.margin {
margin: 80px;
}
title {
  padding: 12px;
  border-bottom-color: rgba(255, 255, 255, 0.12);
  display: block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}