<ng-container *ngFor="let acess of permission; let i = first;">

  <ng-container *ngIf="acess.view.form">

    <ng-container [ngSwitch]="model[acess.id].typeModel">
      
      <!-- TYPE OBJETO -->
      <ng-container *ngSwitchCase="'object'">
        
        <h1>{{ firstoObject ? '' : model[acess.id].text[request.language].label }}</h1>
   
        <app-form-group
          [form]="getFormObject(acess.id)"
          [permission]="getPermissionObject(acess)"
          [model]="getModelObject(acess.id)"
          [request]="request"
          [firstoObject]="false"
        >
        </app-form-group>
      </ng-container>

      <!-- TYPE VALUE -->
      <ng-container *ngSwitchCase="'value'">
       
      {{ !firstoObject ? i ? setLabel(acess.id) : '' :'' }}

        <app-form-value  *ngSwitchCase="'value'"
          [form]="form"
          [permission]="getPermissionValue(acess)"
          [model]="getModelValue(acess.id)"
          [request]="request" 
      ></app-form-value>

      </ng-container>
  
    </ng-container>
  </ng-container>
</ng-container>
