section {
  padding: 16px;
  background-color: white;
  color: black;
  height: 70px;
  width: 300px;
  margin-left: 0;
  overflow: auto;
  box-sizing: border-box;
}
div {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  flex-direction: row;
}
button {
  margin-top: 16px;
  margin-bottom: 8px;
  float: right;
}
.true {

  background-color: black;
}
.false {
  color: white
}
