<ng-template #loading>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<section *ngIf="load; else loading">

  <button mat-raised-button color="basic"
   (click)="validar()" *ngIf="!document.valid">{{this.text[this.i.data.language].update}}</button>

  <button mat-raised-button color="primary"
   (click)="update()" *ngIf="document.valid && !processing">{{this.text[this.i.data.language].update}}</button>

  <button mat-raised-button color="{{ sucess ? 'accent': 'warn'}}" 
  disabled
  *ngIf="processing">{{ sucess ? this.text[this.i.data.language].sucess: this.text[this.i.data.language].processing }}</button>

</section>