{{ control.value }}
{{ 'felix' | formPipe}}
<mat-form-field [appearance]="appearance">
  
  <mat-label> {{ text?.label | formPipe }} </mat-label>

  <input matInput 
  type="{{model?.typeInput}}"
  placeholder="{{ text?.placeholder }}"
  [formControl]="control"
  [required]='required'
  [value]="control.value"
  appFormMask
   >

  <!-- // After -->

  <!-- // Clear Input -->

  <button *ngIf=" model?.design?.tools?.clear && control.value" matSuffix mat-icon-button aria-label="Clear" (click)="control.reset()">
    <mat-icon>close</mat-icon>
  </button>

   <!-- Account Length -->
  <mat-hint *ngIf="model?.design?.tools?.accont" align="end"> {{control.value?.length}} / {{
    model?.validate?.valueMax }}</mat-hint>
 
    <!-- Error -->
  <mat-error *ngIf="control.errors">
    <app-input-generec-error [erros]='control.errors'></app-input-generec-error> 
  </mat-error>
    
</mat-form-field>



<!-- Valido:{{form.valid | json}}<br>
Erros:{{form.errors | json}} -->
<!-- <mat-form-field [appearance]="materialAppearance">

  <mat-label>{{ model?.text?.pt?.label }} / </mat-label>

  <mat-icon *ngIf="model?.design?.icon?.prefix" matPrefix> {{ model?.design?.icon?.prefix }}</mat-icon>
  <span *ngIf="model?.design?.icon?.prefix " matPrefix> {{ model?.design?.icon?.prefix }}</span> -->

  <!-- INPUT -->
  <!-- <input *ngIf="model?.typeInput == 'input'" type="{{ model?.design?.html?.typeInput}}" [formControl]="control.value" matInput> -->

  <!-- COLOR -->
<!--   <input *ngIf="model?.typeInput == 'color'" type="{{ model?.design?.html?.typeInput}}" [formControl]="form" matInput  [required]='materialRequered'>
 -->
  <!-- TEXT ÁREA -->
<!--   <input *ngIf="model?.typeInput == 'text-area'" type="{{ model?.design?.html?.typeInput}}" [formControl]="form" matInput [required]='materialRequered'>
 -->
  <!-- SELECT  -->
<!--   <mat-select *ngIf="model?.design?.inputType == 'select'" [formControl]="formulario" matInput [required]='model?.validate?.requered'>

    <ng-container [ngSwitch]="modelo.colecao.tipo">

      <ng-container *ngSwitchCase="'objeto'">

        <mat-option *ngFor="let objeto of modelo.colecao.objeto | keyvalue" [value]="objeto.key">
          {{ objeto.value.nome }}
        </mat-option>

      </ng-container>

      <ng-container *ngSwitchCase="'lista'">

        <mat-option *ngFor="let selecao of modelo.colecao.lista" [value]="selecao.id">
          {{selecao.nome}}
        </mat-option>

      </ng-container>

    </ng-container>

    <mat-option (click)="ola()">Adicionar Campo</mat-option>

  </mat-select> -->

  <!-- <mat-icon *ngIf="model?.design?.icon?.suffix" matSuffix> {{model?.design?.icon?.suffix }}</mat-icon>
  <span *ngIf="model?.text?.pt?.suffix" matSuffix> {{ model?.text?.pt?.suffix}}</span>

  <mat-hint *ngIf="model?.text?.pt?.hintStart" align="start">{{ model?.text?.pt?.hintStart }}</mat-hint>
  <mat-hint *ngIf="model?.text?.pt?.hintEnd" align="end">{{ model?.text?.pt?.hintEnd }}</mat-hint> -->

  <!-- Contador -->
<!--   <mat-hint *ngIf="model?.design?.tools" align="end"> {{form?.value?.length}} / {{
    model?.validate?.valueMax }}</mat-hint> -->
  <!-- ERROS -->
<!--   <mat-error *ngIf="form?.errors">Erro: 
    {{ control.errors | json}}
  <app-input-generec-error [erros]='control.errors'></app-input-generec-error> 
  </mat-error> -->
<!-- </mat-form-field>  -->