<p *ngIf="loading">

  <mat-form-field [appearance]="appearance">
    <mat-label> {{ text.label }} </mat-label>

    <input
      [type]="model.typeInputHtml=='password' && hide==false ? 'text' :model.typeInputHtml"
      placeholder="{{ text.placeholder }}"
      matInput
      appFormMask
      [formControl]="control"
      [request]="createRequest"
      [validatorName]="validatorName"
      [errorStateMatcher]="matcher"
      required="{{ model.validate.required }}"
    />
    <!--    OPTIONS -->
    <button
      *ngIf="!!control.errors && model.typeInputHtml != 'password'"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="control.reset()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon matSuffix *ngIf="!!!control.errors && model.typeInputHtml != 'password'"  class="check">check</mat-icon>
    <!--    PASSWORD -->
    <button
     *ngIf="model.typeInputHtml == 'password' && !control.errors"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="hide= !hide"
    >
    <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>    
   
    <!-- Account Length -->
    <mat-hint *ngIf="model.design.tools?.accont" align="end">
      {{ control.value?.length }} / {{ model.validate.valueMax }}</mat-hint>

    <!-- Error -->

    <mat-error *ngIf="control.errors">
      <app-input-generec-error
        [erros]="control.errors"
      ></app-input-generec-error>
    </mat-error>
  </mat-form-field>
</p>