<div class="menu-margin"></div>
<div class="menu-padding">
  <div class="menu-title menu-font">
    <!-- <mat-icon class="menu-title-icon">panorama_fish_eye</mat-icon> -->
    <div class="font">{{ text.administrator }}</div>
  </div>
</div>
<div class="menu-padding">
  <div
  [ngClass]="falseActive[0] ? 'menu menu-font menu-active': 'menu menu-font'"
  (click)="[falseLinkActive(0),i.load.colectionHeader = false]"
    *ngFor="
      let permission of i.data.local.permission.adm;
      let in = index;
      let first;
      let last
    "
    [routerLink]="[permission.id]"
  >
 <!-- ACTIVE LINK <div
    class="menu menu-font"
    routerLinkActive="menu-active"
    *ngFor="
      let permission of i.data.local.permission.adm;
      let in = index;
      let first;
      let last
    "
    [routerLink]="[permission.id]"
  > -->
    <mat-icon class="menu-item-left">panorama_fish_eye</mat-icon>
    <div class="menu-font">
      {{ i.data.local.model[permission.id].text[i.data.language].label }}
    </div>
    <mat-icon class="menu-item-right">chevron_right</mat-icon>
  </div>
</div>


<div class="menu-padding">
  <div
    [ngClass]="falseActive[1] ? 'menu menu-font menu-active': 'menu menu-font'"
    (click)="[falseLinkActive(1), i.dashboardClose()]"
    [routerLink]="[
      i.data.language == 'en' ? '/en/app/test1' : '/pt/app/test1'
    ]"
    > 
 
    <mat-icon class="menu-item-left">panorama_fish_eye</mat-icon>

    <div class="menu-font">
      
      {{ i.data.language == "en" ? "Devoloping..." : "Desenvolvendo..." }}
    </div>
    <!-- <div class="menu-item-right">100x</div> -->
    <mat-icon class="menu-item-right">chevron_right</mat-icon>
  </div>
</div>
<mat-divider class="menu-divider"></mat-divider>

 <!-- Agency -->
<div class="menu-padding">
  <div class="menu-title menu-font">
    <div class="font">{{ i.data.language == "en" ? "Agency" : "Revenda" }}</div>
  </div>
</div>
<div class="menu-padding">
  <div
  [ngClass]="falseActive[2] ? 'menu menu-font menu-active': 'menu menu-font'"
  (click)="[falseLinkActive(2),i.dashboardClose()]"
    [routerLink]="[i.data.language == 'en' ? '/en/app/test2' : '/pt/app/test2']"
  >
    <mat-icon class="menu-item-left">panorama_fish_eye</mat-icon>
    <div class="menu-font">
      {{ i.data.language == "en" ? "Devoloping..." : "Desenvolvendo..." }}
    </div>
    <mat-icon class="menu-item-right">chevron_right</mat-icon>
  </div>
</div>

<div class="menu-padding">
  <div
    [ngClass]="falseActive[3] ? 'menu menu-font menu-active': 'menu menu-font'"
    (click)="falseLinkActive(3)"
    [routerLink]="[i.data.language == 'en' ? '/en/app/test3' : '/pt/app/test3']"

  >
    <mat-icon class="menu-item-left">panorama_fish_eye</mat-icon>
    <div class="menu-font">
      {{ i.data.language == "en" ? "Devoloping..." : "Desenvolvendo..." }}
    </div>
    <!-- <div class="menu-item-right">100x</div> -->
    <mat-icon class="menu-item-right">chevron_right</mat-icon>
  </div>
</div>

<mat-divider class="menu-divider"></mat-divider>

<div class="menu-padding">
  <div class="menu-title menu-font">
    <div class="font">
      {{ i.data.language == "en" ? "Clients" : "Clientes" }}
    </div>
  </div>
  <div
  [ngClass]="falseActive[4] ? 'menu menu-font menu-active': 'menu menu-font'"
  (click)="falseLinkActive(4)"
    [routerLink]="[i.data.language == 'en' ? '/en/app/test4' : '/pt/app/test4']"
  >
    <mat-icon class="menu-item-left">panorama_fish_eye</mat-icon>
    <div class="menu-font">
      {{ i.data.language == "en" ? "Devoloping..." : "Desenvolvendo..." }}
    </div>
    <mat-icon class="menu-item-right">chevron_right</mat-icon>
  </div>
</div>
<div class="menu-padding">
  <div
  [ngClass]="falseActive[5] ? 'menu menu-font menu-active': 'menu menu-font'"
  (click)="falseLinkActive(5)"
    [routerLink]="[i.data.language == 'en' ? '/en/app/test5' : '/pt/app/test5']"
  >
    <mat-icon class="menu-item-left">panorama_fish_eye</mat-icon>
    <div class="menu-font">
      {{ i.data.language == "en" ? "Devoloping..." : "Desenvolvendo..." }}
    </div>
    <!-- <div class="menu-item-right">100x</div> -->
    <mat-icon class="menu-item-right">chevron_right</mat-icon>
  </div>
</div>

<mat-divider class="menu-divider"></mat-divider>

<div class="menu-padding">
  <div class="menu-title menu-font">
    <div class="font">
      {{ i.data.language == "en" ? "Clients" : "Clientes" }}
    </div>
  </div>
  <div
  [ngClass]="falseActive[6] ? 'menu menu-font menu-active': 'menu menu-font'"
  (click)="falseLinkActive(6)"
    [routerLink]="[i.data.language == 'en' ? '/en/app/test6' : '/pt/app/test6']"
  >
    <mat-icon class="menu-item-left">panorama_fish_eye</mat-icon>
    <div class="menu-font">
      {{ i.data.language == "en" ? "Devoloping..." : "Desenvolvendo..." }}
    </div>
    <mat-icon class="menu-item-right">chevron_right</mat-icon>
  </div>
</div>
<div class="menu-padding">
  <div
  [ngClass]="falseActive[7] ? 'menu menu-font menu-active': 'menu menu-font'"
  (click)="falseLinkActive(7)"
    [routerLink]="[i.data.language == 'en' ? '/en/app/test7' : '/pt/app/test7']"
  >
    <mat-icon class="menu-item-left">panorama_fish_eye</mat-icon>
    <div class="menu-font">
      {{ i.data.language == "en" ? "Devoloping..." : "Desenvolvendo..." }}
    </div>
    <!-- <div class="menu-item-right">100x</div> -->
    <mat-icon class="menu-item-right">chevron_right</mat-icon>
  </div>
</div>
