<div class="flex">
  <ng-container *ngIf="!i.view.desktop">
    <button mat-raised-button 
    (click)="i.actionsEmitter.emit('documentClose')"
   >
      <!--  <mat-icon>add</mat-icon> -->
      {{ i.data.language == 'en'? 'Cancel':'Cancelar'}}
    </button>

  </ng-container>
<!--   <button mat-raised-button>

    {{ i.data.language == 'en'? 'Update':'Atualizar'}}
  </button> -->

  <app-action *ngIf="i.data.requestLast.action == 'create'"[action]="'update'"></app-action>
  <app-action *ngIf="i.data.requestLast.action == 'update'"
  [action]="'update'" 
 ></app-action>
<!--   <app-action *ngIf="i.data.requestLast.action == 'update'"
  [action]="'update'" 
  [redirect]='(i.data.language) + ("/app/") + (i.data.requestLast.document)'></app-action> -->
  
</div>