<div class="flex">
  <ng-container>
    <button mat-raised-button 
    (click)="i.actionsEmitter.emit('documentClose')"
    [routerLink]="[i.data.subColectionOrName ? '../../../' : '../../']" 
   >
      <!--  <mat-icon>add</mat-icon> -->
      {{ i.data.language == 'en'? 'Cancel':'Cancelar'}}
    </button>

  </ng-container>
<!--   <button mat-raised-button>

    {{ i.data.language == 'en'? 'Update':'Atualizar'}}
  </button> -->

  <app-action *ngIf="i.data.requestLast.action == 'create'"[action]="'create'" [redirect]='(i.data.language) + ("/app/dashboard")'></app-action>
  <app-action *ngIf="i.data.requestLast.action == 'update'"[action]="'update'" [redirect]='(i.data.language) + ("/app/dashboard")'></app-action>
  
</div>