<mat-sidenav-content>
  <button (click)="i.actionsEmitter.emit('menu')">M</button>
  <button (click)="document.toggle()">D</button><br>
  
  <ng-template #loading>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>

  <section *ngIf="load; else loading">
    
    <ul> 
      Colection: {{get.colectionName }}
  
      <li  *ngFor="let colection of get.colection | keyvalue" 
      [routerLink]="['get', colection.key]"
      >
        <app-colection-group
        [permission]="get.permission"
        [model]="get.model"
        [language]="get.language"
        [colection]="colection.value"
      >
      </app-colection-group>
    
       </li>
  
    </ul>
  
  </section>

</mat-sidenav-content>

<mat-sidenav #document mode="side" [opened]="i.design.telaDesktop" position="end">

  <button (click)="document.toggle()">D</button><br>
  <br> Documento<br>
  <router-outlet></router-outlet>

</mat-sidenav>



<!-- <ng-template #loading>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<section *ngIf="load; else loading">
  <ul> 
    Colection: {{get.colectionName }}

    <li  *ngFor="let colection of get.colection | keyvalue">
      <app-colection-group
      [permission]="get.permission"
      [model]="get.model"
      [language]="get.language"
      [colection]="colection.value"
    >
    </app-colection-group>
  
     </li>

  </ul>

</section> -->

<!--   <p>Object Colection</p>
  {{ i.data.colection | json }} -->

 <!--    <li *ngFor="let permission in colection;
     let in=index let first let last" [routerLink]="[permission.id]">
     {{ i.data.model[permission.id].text[i.data.language]?.label }}
    </li> -->
 <!--    <li  *ngFor="let colection of colections | keyvalue"> -->