<section>
  <button type="submit" mat-raised-button color="primary" routerLink=''>
      <mat-label>Conta</mat-label>
    </button><br><br>
  <button type="submit" mat-raised-button color="primary" routerLink='account-adm/create/x'>
      <mat-label>New Administrator</mat-label>
    </button><br><br>
  <button type="submit" mat-raised-button color="primary" routerLink='account-agency/create/xx'>
      <mat-label>New Agency</mat-label>
    </button><br><br>
  <button type="submit" mat-raised-button color="primary" routerLink='account-client/create/xxx'>
      <mat-label>New Client</mat-label>
    </button>
</section>
<router-outlet></router-outlet>
