<h1>Conta</h1><br>
<section>
  <button type="submit" mat-raised-button color="primary" routerLink=''>
      <mat-label>Conta</mat-label>
    </button><br><br>
  <button type="submit" mat-raised-button color="primary" routerLink='create/adm'>
      <mat-label>CRIAR Adm > Administrador</mat-label>
    </button><br><br>
  <button type="submit" mat-raised-button color="primary" routerLink='create/cliente'>
      <mat-label>CRIAR Revenda > Revenda</mat-label>
    </button><br><br>
  <button type="submit" mat-raised-button color="primary" routerLink='create/revenda'>
      <mat-label>CRIAR Cliente > Revenda</mat-label>
    </button>
  <button type="submit" mat-raised-button color="primary" routerLink='asdfasf'>
      <mat-label>Conta não encontrada</mat-label>
    </button>
</section>
<br><br>
<router-outlet></router-outlet>
