<mat-sidenav-content>

  <ng-template #loading>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>

  <ng-container *ngIf="load; else loading">

    <section (scroll)="i.startAnimation($event,'navColection')">

      <app-colection-nav [@navTop]="i.animate.navColection.animate"></app-colection-nav>

      <app-colection-header></app-colection-header>

    <!--   <app-colection-footer [@navFooter]="i.animate.navColection.animate"></app-colection-footer> -->

    </section>

  </ng-container>

</mat-sidenav-content>

<mat-sidenav #document mode="side" [opened]="true" position="end">

  <router-outlet></router-outlet>

</mat-sidenav>