@import "/src/sass/constructorNew";

section {
  @include section($width:var(--colection-size));
}

app-colection-nav {
  @extend %nav;
}

app-colection-footer {
  @extend %footer;
}

mat-sidenav .dark-theme .mat-drawer-side .mat-drawer-end {
background-color: blue;
border-left: none;
fill: none;
}

/* ::ng-deep .dark-theme .mat-drawer-side .mat-drawer-end {

border: none;
border-left: none;
} */