@import "/src/sass/constructorNew";

section {
  @include section($width:var(--colection-size));
}

app-colection-nav {
  @include nav($width:var(--colection-size));
}

app-colection-footer {
  @include footer($width:var(--colection-size));
}

.dark-theme .mat-drawer-side .mat-drawer-end {
background-color: blue;
border-left: solid 0px;
border-right: solid 0px;
/* fill: none;
border: none; */
}

::ng-deep .dark-theme .mat-drawer-side .mat-drawer-end {

  background-color: blue;
/*   border-left: none;
  border-right: none;
  fill: none; */
  border: none;
}