<ng-template #loading>
  {{ i.data.language == 'en'? 'Progress...': 'Carregando...'}}<br>
  <mat-progress-bar mode="query" [color]="'accent'">
  </mat-progress-bar>
</ng-template>

<mat-sidenav-content *ngIf="i.load.colection; else loading">

  <section (scroll)="i.startAnimation($event,'navColection')">

    <app-colection-nav [@navTop]="i.animate.navColection.animate"></app-colection-nav>

    <app-colection-header></app-colection-header>

    <app-colection-footer [@navFooter]="i.animate.navColection.animate"></app-colection-footer>

  </section>

</mat-sidenav-content>

<mat-sidenav #document mode="side" [opened]="true" position="end">

  <router-outlet></router-outlet>

</mat-sidenav>