<app-menu-adm (click)=" i.celullar ? i.actionsEmitter.emit('menu'):''"></app-menu-adm>

<!-- <section>
  <p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>
<p>menu-header works!</p>

</section> -->