<!-- <h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
  Would you like to delete cat.jpeg?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div> -->

<h1 mat-dialog-title>{{text[data.language].title}}</h1>

<mat-dialog-content>

  <div *ngFor="let error of data.error; ">

    > {{ data.model[error].text[data.language].label }} <br>

  </div>

</mat-dialog-content>
<div mat-dialog-actions>

  <button mat-button [mat-dialog-close]="true">{{text[data.language].buttom}}</button>
</div>

<!-- <mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true">
    {{text[data.language].buttom}}
  </button>
</mat-dialog-actions> -->