section {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
mat-radio-button {
  margin: 8px;
}
::ng-deep .dark-theme .mat-menu-panel {
  background: var(--color-surface-2);
  box-shadow: var(--color-surface-2-shadow);
}