<button mat-button [matMenuTriggerFor]="language" aria-label="Language">
  <mat-icon>translate</mat-icon>{{ data.language == 'en'? 'English':'Portugues'}}
</button>

<button mat-button [matMenuTriggerFor]="color" aria-label="Color">
  <mat-icon>brightness_6</mat-icon>{{ data.language == 'en'? 'Color':'Cor'}}
</button>

<button mat-button [matMenuTriggerFor]="font" aria-label="Font">
  <mat-icon>text_fields</mat-icon>{{ data.language == 'en'? 'Font Size':'Fonte'}}
</button>

<mat-menu #language="matMenu">
  <button mat-menu-item routerLink='/en/login/sign-in'>
    <mat-icon>language</mat-icon>
    <span>{{ data.language == 'en'? 'English':'Inglês'}}</span>
  </button>
  <button mat-menu-item [routerLink]="['/pt/login/sign-in']">
    <mat-icon>language</mat-icon>
    <span>{{ data.language == 'en'? 'Portugues':'Português'}}</span>
  </button>

  <mat-menu #color="matMenu">

 <section>
  <mat-radio-group [(ngModel)]="labelPosition">
    <mat-radio-button value="sytem" (click)="colorTheme('dark')">{{ data.language == 'en'? 'System':'Padrão'}}</mat-radio-button>
    <mat-radio-button value="dark" (click)="colorTheme('dark')">{{ data.language == 'en'? 'Dark':'Escuro'}}</mat-radio-button>
    <mat-radio-button value="ligth" (click)="colorTheme('ligth')">{{ data.language == 'en'? 'Ligth':'Claro'}}</mat-radio-button>
  </mat-radio-group>
 </section>
    

  </mat-menu>
  <mat-menu #font="matMenu">
    
    <button mat-menu-item (click)="setSize('increment')">
      <mat-icon>add</mat-icon>
      <span>{{ data.language == 'en'? 'Bigger':'Maior'}}</span>
    </button>
    <button mat-menu-item  (click)="setSize('decremente')">
      <mat-icon>horizontal_rule</mat-icon>
      <span>{{ data.language == 'en'? 'Smaller':'Menor'}}</span>
    </button>
    <button mat-menu-item (click)="setSize('system')">
      <mat-icon>replay</mat-icon>
      <span>{{ data.language == 'en'? 'Default':'Padrão'}}</span>
    </button>

  </mat-menu>
</mat-menu>
