mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
mat-radio-button {
  margin: 8px;
}
::ng-deep .dark-theme .mat-menu-panel {
  background: var(--color-surface-2);
  box-shadow: var(--color-surface-2-shadow);
}