<ng-template #loading>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<section *ngIf="load; else loading">

  <button mat-raised-button color="basic"
  [ngStyle]="{'width.px': width}"
   (click)="validar()" *ngIf="!document.valid">{{ text[action]}}</button>

  <button mat-raised-button 
  [ngStyle]="{'width.px': width}"
   (click)="crud()" *ngIf="document.valid && !processing">
   {{ text[action] }}
  </button>

  <button mat-raised-button color="{{ sucess ? 'accent': 'warn'}}"
  [ngStyle]="{'width.px': width}"
  disabled
  *ngIf="processing">{{ sucess ? text.sucess: text.processing }}
  <mat-progress-bar mode="query"></mat-progress-bar>
</button>

</section>