@import "/src/sass/construtor";

section {
  
  display: grid;
  grid-template-columns: 50px auto 50px;
  column-gap: 8px;
  color: var(--color-tex-white);
}

.flex {
  display: grid;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: azure;
}
.data {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: "Segoe UI","Helvetica Neue", sans-serif;
  font-size: var(--fonte-17);
  letter-spacing: 0.15px;
  font-weight: 400;
  color: #e9edef;
  
}
.text {

  font-family: "Segoe UI","Helvetica Neue", sans-serif;
  font-size: var(--fonte-14);
  letter-spacing: 0.15px;
  font-weight: 400;
  color: #8696a0;
  
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-link {
  background-color: rgba(255, 228, 196, 0.039);
  border: solid 1px;
}

nav {
  display: grid;
  grid-template-columns: 50px auto 50px;
  justify-items: center;
  column-gap: 8px;
  @extend %fonte-h6;
}
app-colection-group {
  display: grid;
  color: var(--color-tex-white);
}
 span {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #8696a0;

   font-weight: 500;
}
