<mat-sidenav-content>

  <ng-template #loading>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>

  <ng-container *ngIf="load; else loading">
    <nav>
      <button mat-icon-button (click)="this.i.actionsEmitter.emit('menu')"><mat-icon>more_vert</mat-icon></button>
      <span>{{ i.data.local.model[i.data.requestLast.document].text[i.data.language].label }}</span>
      <button mat-icon-button [routerLink]="['new', 'create']"><mat-icon>add</mat-icon></button>
    </nav>

    <section *ngFor="let colection of i.data.local.colection[i.data.requestLast.document] | keyvalue"
      routerLinkActive="active-link" [routerLink]="[colection.key, 'update']">

      <div class="flex">
        <div class="icon" [ngStyle]="{'background-color': 'blue'}"></div>
      </div>
      <div>

        <app-colection-group class="text"
          [permission]="i.data.local.getRecursive(i.data.requestLast.document).permission"
          [model]="i.data.local.getRecursive(i.data.requestLast.document).model" [request]="i.data.requestLast"
          [colection]="colection.value">
        </app-colection-group>

      </div>
      <div class="data">Data: <!-- {{ data(colection.value) | date: 'dd/mm/aa'}}  --><button (click)="data(colection.value)">x</button> </div>
    </section>

  </ng-container>

</mat-sidenav-content>

<mat-sidenav #document mode="side" [opened]="true" position="end">

  <router-outlet></router-outlet>

</mat-sidenav>