.font {
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.1px;
text-align: left;
width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 384px;
  height: 810px;
  /* Surface 1*/
  background: linear-gradient(0deg, rgba(208, 188, 255, 0.05), rgba(208, 188, 255, 0.05)), #1C1B1F;
  border-radius: 16px;
}

 .title {
display: flex;
flex-direction:row;
justify-content: center;
padding: 8px 8px 8px 16px;
gap: 10px;
width: 360px;
height: 40px;

//my css
justify-content: space-between;
    align-items: center;
}
.section-header {

display: flex;
flex-direction: row;
align-items: center;
padding: 18px 16px;
gap: 10px;

width: 360px;
height: 20px;

border-radius: 100px;
}
.label {
  display: flex;
flex-direction: row;
align-items:flex-start;
padding: 0px;
gap: 12px;

width: 360px;
height: 56px;
border-radius: 100px;
&:hover {
  background: #4A4458;
}
&:active {
  background: rgba(56, 30, 114, 0.12);
}

//my css
justify-content: space-between;
    align-items: center;

}
.icon {
  padding-left: 12px;
  padding-right: 12px;
}