:host{
  color: white;
}

/* %scroll {
    height: 100%;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 190px;
    margin-left: 0;
    overflow: auto;
    box-sizing: border-box;
  
    @media (max-width: 360px) {
      overflow: hidden;
      &:hover {
        overflow: auto;
      }
    }
    &::-webkit-scrollbar {
      width: 6px;
      background: rgba(255, 255, 255, 0.13);
    }
    &::-webkit-scrollbar-thumb {
      width: 6px;
      background: rgba(255, 255, 255, 0.13);
    }
  } */