<mat-sidenav-content>
 
  <section (scroll)="i.startAnimation($event,'navColection')">

    <app-colection-nav-top [@navTop]="i.animate.navColection.animate"></app-colection-nav-top>
      
      <app-colection-header> </app-colection-header>

    <app-colection-nav-footer [@navFooter]="i.animate.navColection.animate"></app-colection-nav-footer>
  
    <div *ngIf="i.load.document && i.debug.form;"> 
      {{ i.data.requestLast.document}}
      Form {{ i.data.form[i.data.requestLast.document].value | json}}<br><br>
      Value: {{ i.data.form[i.data.requestLast.document].get([i.data.requestLast.document,'email'])?.value}}
     </div>
     
  </section>

</mat-sidenav-content>

<mat-sidenav #document mode="side" [opened]="false" position="end">

  <router-outlet></router-outlet>



</mat-sidenav>