<mat-sidenav-content>
 
  <section (scroll)="i.startAnimation($event,'navColection')">

    <app-colection-nav-top [@navTop]="i.animate.navColection.animate"></app-colection-nav-top>
   
    <app-colection-header *ngIf="!i.data.subColectionIsTrue"> </app-colection-header>
    <app-colection-menu *ngIf="i.data.subColectionIsTrue"> </app-colection-menu> 

    <app-colection-nav-footer [@navFooter]="i.animate.navColection.animate"></app-colection-nav-footer>
  
  <!--   <div *ngIf="i.load.document && i.debug.form;"> 
      {{ i.data.subColectionIsTrue ? i.data.subColectionName: i.data.documentName}}
      Form {{ i.data.form[ i.data.subColectionIsTrue ? i.data.subColectionName: i.data.documentName].value | json}}<br><br>
      Value: {{ i.data.form[ i.data.subColectionIsTrue ? i.data.subColectionName: i.data.documentName].get([ i.data.subColectionIsTrue ? i.data.subColectionName: i.data.documentName,'email'])?.value}}
     </div> -->
     
  </section>

</mat-sidenav-content>

<mat-sidenav #document mode="side" [opened]="false" position="end">

  <router-outlet></router-outlet>



</mat-sidenav>