<div class="colection-header-margin"><br>
</div>




    <p>
      
      {{ i.data.language == "en" ? "Hello welcome. I'm developing my application with Angular 14, Node 16, Firestore, Material Desing3 and Servelles" :
       "Seja bem vindo. Estou desenvolvendo minha aplicação com Angular, Node, Firestore, Material Desing3" }}
    </p>





<!-- <div class="colection-header-margin"></div>

<div class="colection-header-padding">
  <div class="colection-header-title ">
    <div class="colection-header-font">
      {{ i.data.language == "en" ? "Administrator" : "Clientes" }}
    </div>
  </div>
</div>

<div class="colection-header-padding">
  <div class="colection-header" [routerLink]="[
      i.data.language == 'en' ? '/en/app' : '/pt/app'
    ]">

    <div class="colection-header-item-left">
      <div class="colection-header-userColor" style="background-color: blue"></div>
    </div>

    <div class="colection-header-name">
      {{ i.data.language == "en" ? "Devoloping..." : "Desenvolvendo..."
      }}<br />
      <div class="colection-header-description">Text asdfas asdfasf asdfasdf aasdfasd fasdfflsdf asdfasdfasf asdfasdf
        asf</div>
    </div>

    <mat-icon class="colection-header-item-right">chevron_right</mat-icon>
  </div>
</div> -->