@import "/src/sass/construtor";
section {
  width:350px;
  @extend %scroll;
}

nav {
  display: grid;
  margin-left: 8px;
  margin-right: 8px;
  grid-template-columns: 50px auto auto;
  column-gap: 8px;
}