
  <ng-template #loading>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>

  <section *ngIf="load; else loading">
    <app-action></app-action>
    Felix
    {{ document.form.valid }}
   <!--  Valid: {{ createForm.form.valid | json }}
    {{ load ? createForm.form.value : false}} -->
    <app-form-group 
    [form]="document.form" 
    [permission]="document.permission"
    [model]="document.model"
    [language]="document.language"
    [request]="document.request" 
    >
    </app-form-group>

  </section>
