
<p>document works!</p>
<div *ngIf="load">

  <section>
    <app-form-group 
    [form]="createForm.form" 
    [permission]="createForm.permission"
    [model]="createForm.model"
    [language]="createForm.language"
    [request]="createForm.request" 
    >
    </app-form-group>
  
    <!-- INVALID - disabled -->
    <button *ngIf="createForm.form?.valid && createForm.form?.get(['account-adm','acceptTerms'])?.value ? false: true"
    type="submit" mat-raised-button color="primary" disabled>
 <!--    <div class="processing">
      <mat-spinner class="spinner" [diameter]="20"></mat-spinner>
      <mat-label>Processing</mat-label>
    </div> -->
    
    <mat-label>Create New Account</mat-label>
  </button>


  </section>

</div>