<mat-divider class="gen-menu-divider"></mat-divider>
<div class="gen-menu-padding">
  <div class="gen-menu-title gen-menu-font">
    <div class="font">{{ i.data.language == "en" ? "Partner" : "Parceiro" }}</div>
  </div>
</div>
<div class="gen-menu-padding">
  <div
  class="gen-menu gen-menu-font"
  routerLinkActive="gen-menu-active"
    *ngFor="
      let permission of i.data.local.permission.partner;
      let in = index;
      let first;
      let last
    "
    [routerLink]="[permission.id]"
    [queryParams]="{ 'sub': permission.documentSub }"
  >
    <mat-icon class="gen-menu-item-left">panorama_fish_eye</mat-icon>
    <div class="gen-menu-font">
      {{ i.data.local.model[permission.id].text[i.data.language].label }}
    </div>
    <mat-icon class="gen-menu-item-right">chevron_right</mat-icon>
  </div>
</div>