<div *ngIf="loading">

  {{ login.form.value | json}}

  <section>

    <app-form-group [form]="login.form" [permission]="login.permission" [model]="login.model"
      [language]="login.language" [request]="login.request">
    </app-form-group>


    <button *ngIf="!login.form.get(['login','email']).valid" type="submit" mat-raised-button color="primary" disabled>
      <mat-label>Create New Account</mat-label>
    </button>
    <button *ngIf="login.form.get(['login','email']).valid" type="submit" mat-raised-button color="primary">
      <mat-label>Sign In</mat-label>
    </button>

  </section>

</div>