<ng-template #loading>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<section *ngIf="load; else loading">
  
  <mat-card>

    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
    <button mat-raised-button color="basic" (click)="this.i.actionsEmitter.emit('document')">Cancelar</button>
    <app-action [action]="'update'"></app-action>

  </mat-card>

  <app-form-group
    [form]="i.data.form[i.data.requestLast.document]"
    [permission]="i.data.local.getRecursive(i.data.requestLast.document).permission"
    [model]="i.data.local.getRecursive(i.data.requestLast.document).model"
    [request]="i.data.requestLast"
  >
  </app-form-group>
  
</section>
