<div class="colection-header-margin">
</div>
<!-- <app-send-message [title]="'Primeiro Contato'" [message]="'true'" >
</app-send-message>
<title>PENDÊNCIAS</title>
<app-pendency [pendency]="true" [title]="'Primeiro Contato'"> </app-pendency>
 -->

<title>Next Developing</title>
<task [status]="0" title="Update User Adm" description="..."></task>
<title>FrontEnd Progress</title>
<task [status]="80" title="Design Interface" description="Responsive Mobile and Desk Top"></task>
<task [status]="80" title="Dynamic Forms" description="Reative Forms"></task>
<task [status]="80" title="Dynamic Validtors and Mask" description="Mask Format and Validators"></task>
<task [status]="80" title="Settings" description="Language, Themes, Font Size"></task>

<title>BackAnd Progress</title>
<task [status]="100" title="Test Request and Inputs" description="Test all request and validators"></task>
<task [status]="100" title="Security acess Permission" description="Create, Read, Update, Delete"></task>
<task [status]="100" title="Create Administrator" description="User level 1 adminstrator"></task>