<p *ngIf="loading">
  
    <mat-form-field [appearance]="appearance">
      <mat-label> {{ text?.label }} </mat-label>
  
      <input
        type="{{ model?.typeInput }}"
        placeholder="{{ text?.placeholder }}"
        matInput
        [formControl]="control"
        required="{{ model?.validate?.required }}"
      />
  
      <!-- // After -->
  
      <!-- // Clear Input -->
  
      <button
        *ngIf="!!control.errors"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="control.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon *ngIf="!!!control.errors" matSuffix class="check">check</mat-icon>
     
      <!-- Account Length -->
      <mat-hint *ngIf="model?.design?.tools?.accont" align="end">
        {{ control.value?.length }} / {{ model?.validate?.valueMax }}</mat-hint>
  
      <!-- Error -->
  
      <mat-error *ngIf="control.errors">
        <app-input-generec-error
          [erros]="control.errors"
        ></app-input-generec-error>
      </mat-error>
    </mat-form-field>
  </p>